<header class="masthead no-image">
  <div class="container position-relative">
    <div class="row">
      <div class="col-md-12">
        <div class='site-heading'>
          <h1>
            Hi and welcome!
          </h1>
          <span class="subheading">Peter Nylanders blog!</span>
        </div>
      </div>
    </div>
  </div>
</header>