<hr />
<h5>Contact me</h5>
<ul class="list-unstyled">
  <li><a href="https://twitter.com/peternylander"><i class="fab fa-twitter"></i> Twitter</a></li>
  <li><a rel="me" href="https://hachyderm.io/@@peternylander"><i class="fab fa-mastodon"></i> Mastodon</a></li>
  <li><a rel="me" href="https://bsky.app/profile/peternylander.bsky.social"><i class="fas fa-square"></i>Bluesky</a>
  </li>
  <li><a href="https://github.com/penyland"><i class="fab fa-github"></i> GitHub</a></li>
  <li><a href="https://www.linkedin.com/in/peternylander"><i class="fab fa-linkedin"></i> LinkedIn</a></li>
  <li><a href="https://www.nuget.org/profiles/devlead"><i class="fa fa-archive"></i> NuGet</a></li>
</ul>