---
import BaseLayout from "../layouts/BaseLayout.astro";

const pageTitle = "About Me";

const identity = {
  firstName: "Sarah",
  country: "Canada",
  occupation: "Technical Writer",
  hobbies: ["photography", "birdwatching", "baseball"],
};

const skills = ["HTML", "CSS", "JavaScript", "React", "Astro", "Writing Docs"];

const happy = true;
const finished = false;
const goal = 3;

const skillColor = "navy";
const textCase = "uppercase";
---

<BaseLayout pageTitle={pageTitle}>
  <style define:vars={{ skillColor, textCase }}>
    h1 {
      color: blue;
      font-size: 4rem;
    }
    .skill {
      color: var(--skillColor);
      font-weight: bold;
      text-transform: var(--textCase);
    }
  </style>

  <h2>Welcome to my blog!</h2>

  <p>
    My name's is Peter Nylander and I'm a software engineer and a solution
    architect! I have been working with software development for over 20 years.
    I have worked with many different technologies and platforms, but I have
    always had a passion for Microsoft technologies. On this blog I will write
    about my thoughts and ideas about software development and architecture. I
    will also share some of my projects and code snippets and what I have
    learned from on the way. I hope you will find something interesting here and
    that you will come back for more
  </p>
</BaseLayout>
