---
import { getCollection } from "astro:content";
import PostsGrid from "../components/PostsGrid.astro";
import BaseLayout from "../layouts/BaseLayout.astro";

const allPosts = await getCollection("posts");
---

<BaseLayout>
  <section class="section">
    <div class="container">
      <PostsGrid posts={allPosts} />
    </div>
  </section>
</BaseLayout>
