---
import { getCollection } from "astro:content";
import Welcome from "../components/Welcome.astro";
import Layout from "../layouts/Layout.astro";
import Posts from "../components/Posts.astro";

const allPosts = await getCollection("posts");
---

<Layout>
  <section class="section">
    <div class="container">
      <Posts posts={allPosts} />
    </div>
  </section>
</Layout>
