---
import { getCollection } from "astro:content";
import PostsGrid from "../components/PostsGrid.astro";
import BaseLayout from "../layouts/BaseLayout.astro";

import config from "../config/config.json";

const allPosts = await getCollection("posts");
---

<BaseLayout pageTitle=`${config.site.title} - ${config.site.tagline}`>
  <section class="">
    <div class="">
      <PostsGrid posts={allPosts} />
    </div>
  </section>
</BaseLayout>
