---

---

<div
  class="prose
  dark:prose-invert
  lg:prose-lg
  dark:prose-code:text-zinc-300
  dark:prose-a:text-blue-400
  prose-a:text-blue-600
  max-w-none
  hover:prose-a:underline
  focus:prose-a:underline
  prose-a:no-underline
  dark:prose-headings:text-teal-500
  prose-img:rounded-lg"
>
  <slot />
</div>
