---
import config from "../config/config.json";
---

<aside
  id="sidebar"
  class="w-64 bg-gray-200 p-4 h-screen sticky top-0 flex flex-col justify-between"
>
  <!-- Sidebar content here -->
  <div class="flex flex-col items-center">
    <img
      src={config.site.profile_picture}
      alt="Logo"
      class="w-32 h-32 rounded-full object-cover mt-10"
      style="object-position: 50% 0%;"
    />
    <h1 class="text-lg mt-4">penyland</h1>
    <p class="text-sm text-gray-600 p-6">{config.site.tagline}</p>
  </div>

  <!-- Social media icons -->
  <div class="flex justify-center gap-4 mb-4">
    <a
      href="https://github.com/penyland"
      target="_blank"
      class="text-lg text-gray-600 hover:text-gray-900"
    >
      <i class="fa-brands fa-github"></i>
    </a>
    <a
      href="https://twitter.com/peternylander"
      target="_blank"
      class="text-lg text-gray-600 hover:text-gray-900"
    >
      <i class="fa-brands fa-twitter"></i>
    </a>
    <a
      href="https://bsky.app/profile/peternylander.bsky.social"
      target="_blank"
      class="text-lg text-gray-600 hover:text-gray-900 inline-block"
    >
      <i class="fa-brands fa-bluesky"></i>
    </a>
    <a href="https://penyland.github.io/rss" target="_blank" class="text-lg text-gray-600 hover:text-gray-900">
      <i class="fa-solid fa-rss"></i>
    </a>
  </div>
</aside>
