---
import config from "../config/config.json";

const { theme_switcher }: { theme_switcher: boolean} = config.settings;
const { className }: { className?: string } = Astro.props;

---

{
  theme_switcher && (
    <div class={`theme-switcher ${className}`}>
      <input id="theme-switcher" data-theme-switcher type="checkbox" />
    </div>
  )
}

<script>
  const matchMedia = window.matchMedia("(prefers-color-scheme: dark)");

  matchMedia.addEventListener("change", (e) => {
    const theme = e.matches ? "dark" : "light";
    document.documentElement.setAttribute("data-theme", theme);
  });

  function toggleTheme(themeSwitch: NodeListOf<Element>) {
    document.documentElement.classList.toggle("dark", true);
  }

</script>