---
import ThemeIcon from "./ThemeIcon.astro";

const { pageTitle } = Astro.props;
---

<input type="checkbox" id="sidebar-toggle" class="peer hidden" />
<div
  class="fixed top-0 w-full bg-transparent backdrop-blur p-4 flex items-center"
>
  <!-- Left aligned sun icon -->
  <div class="flex-shrink-0 mr-2">
    <label
      for="sidebar-toggle"
      class="z-50 hover:bg-gray-100 rounded-lg cursor-pointer dark:text-white lg:hidden"
    >
      <i class="fas fa-bars"></i>
    </label>
  </div>
  <!-- Center text that truncates on small screens -->
  <div
    class="flex-grow text-center truncate font-semibold lg:hidden dark:text-white text-neutral-400"
  >
    <a href="/">
      <span>{pageTitle}</span>
      </a
    >
  </div>
  <!-- Right aligned hamburger icon -->
  <div class="flex-shrink-0 text-right ml-2"></div>
  <ThemeIcon />
</div>

<!-- Overlay (clickable background) -->
<div
  class="fixed inset-0 bg-black/50 peer-checked:block hidden md:hidden"
  onclick="document.getElementById('sidebar-toggle').checked = false;"
>
</div>
