---
import RightSidebar from "../components/RightSidebar.astro";
---

<div class="max-w-7xl mx-auto flex pl-8">
  <!-- Main Content -->
  <div class="flex-1 p-2">
    <slot />
  </div>

  <RightSidebar />
</div>
