---
import RightSidebar from "../components/RightSidebar.astro";
---

<div class="max-w-7xl mx-auto flex pl-8">
  <div
    style={{
      background:
        "linear-gradient(45deg, rgba(96, 122, 250, 0) 20.79%, rgba(96, 122, 250, 0.09) 40.92%, rgba(255,255,255, 0) 70.35%)",
    }}
  >
  </div>

  <!-- Main Content -->
  <div class="flex-1 p-2">
    <slot />
  </div>

  <RightSidebar />
</div>
